<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:contxt="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 扫描 service包使用@Component/@Service/@Repository/@Controller 注解的类 将其实例化，放入容器中 注解 -->
    <contxt:component-scan base-package="com.oukele.bookshop_ssm.service"/>

    <!--创建数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="org.mariadb.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mariadb://localhost:3306/data_test"/>
        <property name="user" value="oukele"/>
        <property name="password" value="oukele"/>
    </bean>

    <!-- 配置mybatis -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--将数据源实例化 -->
        <property name="dataSource" ref="dataSource"/>
        <!--映射 日志 -->
        <property name="configLocation" value="classpath:mybatis_log.xml"/>
        <!--映射 DML 语法 xml-->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>
    <!--映射 dao 中  数据访问类-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="basePackage" value="com.oukele.bookshop_ssm.dao"/>
    </bean>

</beans>